<h1>Details Page</h1>
<p>This page displays a list of details for the event that you clicked on, including venue information and band information</p>

Loop through all events on this day and display venue, bands, and time

set variable to empty string
<% @events_on_this_day.each do |event| %>
  <% if event.venue.name != @name_check %>
    <%= event.venue.name %>
    <%= event.band.name %>
    <%= event.time.name %>
  <% else %>
    <%= event.band.name %>
    <%= event.time %>
  <% end %>
<% end %>








  check to see if venue name == variable name
  if not 
  put venue name
  put band name
  put time
  else put band name
  put time

  if event.venue.name is same as previous venue name skip it
  else display it