<div class="container page-cap">
  <header class="header">
    Local Live Music
      <div class="header_subtext">Omaha's calendar for live music in immdiate and surrounding areas.</div>
  </header>
</div>

<div class="container main">
  <div class="datebox">
    <div class="datebox_text">
      <%= @week_range_start %> - <%= @week_range_end %><br>
    </div>
  </div>
  <div class="row expanded">
    <div class="large-1 columns section main-section_color_navigation">
      <div class="nav-text">
        <
      </div>
    </div>
    <a href="/events/details/<%= @monday %>">
      <div class="large-2 columns section main-section_color_monday">
        <div class="weekday-text">
          Monday
        </div>
      </div>
    </a>
    <a href="/events/details/<%= @tuesday %>">
      <div class="large-2 columns section main-section_color_tuesday">
        <div class="weekday-text">
          Tuesday
        </div>
      </div>
    </a>
    <a href="/events/details/<%= @wednesday %>">
      <div class="large-2 columns section main-section_color_wednesday">
        <div class="weekday-text">
          Wednesday
        </div>
      </div>
    </a>
    <a href="/events/details/<%= @thursday %>">
      <div class="large-2 columns section main-section_color_thursday">
        <div class="weekday-text">
          Thursday
        </div>
      </div>
    </a>
    <a href="/events/details/<%= @friday %>">
      <div class="large-2 columns section main-section_color_friday">
        <div class="weekday-text">
          Friday
        </div>
      </div>
    </a>
    <a href="/events/details/<%= @saturday %>">
      <div class="large-2 columns section main-section_color_saturday">
        <div class="weekday-text">
          Saturday
        </div>
      </div>
    </a>
    <a href="/events/details/<%= @sunday %>">
      <div class="large-2 columns section main-section_color_sunday">
        <div class="weekday-text">
          Sunday
        </div>
      </div>
    </a>
    <div class="large-1 columns section main-section_color_navigation">
      <div class="nav-text">
        >
      </div>
    </div>
  </div>
</div>
<div class="container page-cap">
  <footer class="footer">
      <div class="footer_subtext">Product creation by Mark White. <br>Website design and creation by Courtney Burns.<br><a href="/admin">Admin Login</a></div>
  </footer>
</div>